@font-face
{
	font-family: "Dejavusans";
	src: url(../fonts/dejavusans.eot);
	src: url(../fonts/dejavusans.eot?#iefix) format("embedded-opentype"),
		 url(../fonts/dejavusans.ttf) format("truetype"),
		 url(../fonts/dejavusans.svg) format("svg"),
		 url(../fonts/dejavusans.woff) format("woff");
  	font-weight: normal;
    font-style: normal;
}

body
{
	background: rgba(224, 247, 222, 0.18);
	font-family: "Dejavusans", Tahoma;
	font-size: 16px;
	width: 100%;
}

footer
{
	background-color: #131313;
	border-top: .15em solid #009022;
	color: white;
	margin-top: 1em;
	text-align: left;
}

footer p
{
	padding: 1em 0 1em 1em;
}

footer p, header aside, #menu
{
	margin: 0 auto;
	width: 80%;
}

header
{	
	border-top: 2px solid #009022;	
	width: 100%;
}

header aside small
{
	color: #009022;
	font-size: .9em;
	font-weight: lighter;
	height: 2em;	
	line-height: 2em;	
}

#contenido
{
	margin: 9em auto 2em auto;
	position: relative;
	padding-left: 3em;
	width: 65%;
}

#logo img
{
	margin: .3em auto;
	width: 100px; 
}

#menu figure, #menu nav
{
	display: inline-block;
	text-align: left;	
	vertical-align: middle;
	width: 20%;
}

#menu nav 
{
	text-align: right;
	width: 79%;
}

#menu nav ul li
{
	display: inline-block;
	position: relative;
}

#menu nav ul li a
{
	color: green;
	font-size: 1.1em;
	text-decoration: none;
}

#menu nav ul li .submenu
{
	position: absolute;
	display: none;
    text-align: justify;
    text-indent: 1.5em;
    font-size: 0.9em;
    left: -3em;
}

#menu nav ul li:hover .submenu
{
	display: block;
	z-index: 5;
}

.flexslider
{
	border: 2px solid #21612B;
}

.flexslider , .flexslider .slides li img
{
	width: 500px;
	max-width: 100%;
}

.flex-caption
{
	background: rgba(88, 83, 83, 0.78);
	bottom: -1em;
	/*color: #FFF;*/
	height: 4em;
	line-height: 4em;
	position: absolute;
	text-indent: 1em;
	width: 500px;
}

.flex-caption a
{
	text-decoration: none;
	color: white;
}

.fondo
{
	background: rgba(219, 247, 214, 0.8);
	border-bottom: .15em solid #009022; /* #F2EA0D */
	color: white;
	position: absolute;
	height: 110px;
	width: 100%;
}

.fondo_menu
{
	padding: 1em;
}

.fondo_submenu
{
	background: white;
	width: 120px;
	padding: 1em;
	border-bottom: 2px solid black;
}

.slides li div
{
	position: absolute;
	top:82%;
	margin-left: 34.8em;
	color: white;
	font-size: .8em;
}

.fijo
{
	position: fixed;
	top: 0;
	z-index: 5;
}